body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.fa-plus{
    color: green;
}
.fa-thermometer-three-quarters{
    color: #CD5C5C;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-image: url('../../images/sample.jpg');
  position: fixed;
  height: 100%;
  overflow: auto;
  color: white;
  opacity: 0.9;
}

.sidebar a {

  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  margin-left: 220px;
  padding: 1px 16px;
  height: 1050px;
  padding-top: 40px;
  background-color: #F5F5F5;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
